/* NOTE reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* NOTE GLOBAL */
html,
body {
  font-family: "Roboto Condensed", sans-serif;
  color: #717171;
}

/* line style */
/* 
linear gradient
to right: trái qua phải
to left : phải qua trái
to bottom, to top
*/
.gradient-underline::after {
  content: "";
  display: block;
  height: 3px;
  width: 0;

  background: linear-gradient(to right, #fbbd61, #ec7532);
  box-shadow: 0 0 20px 0 #fbbd61;

  transition: all 0.3s;
}

.gradient-underline:hover::after {
  width: 100%;
}

.gradient-underline.active::after {
  width: 100%;
}

/* NOTE HEADER */
/* carousel__item có z-index = 1 do BS set
Sau đó xóa đi BS class background color của navbar
*/
header {
  position: absolute;
  top: 20px;
  left: 50%;

  transform: translateX(-50%);

  z-index: 2;
}

header p {
  font-size: 14px;
  font-weight: 700;
}

/* border của thẻ ul */
#movieNavBar .navbar-nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/* Khoan hãy thêm padding mà check hover trước để chỉnh padding sau */
/* underline và padding của thẻ a  
Như vậy sẽ giữ underline và border trùng nhau và kéo dài hết nav item
*/
#movieNavBar .navbar-nav .nav-link {
  color: white;
  letter-spacing: 3px;
  line-height: 0.8em;

  padding: 20px 24px;
}

/* NOTE CAROUSEL */
/* 
Gọi trực tiếp vô class vẫn OK nhưng để vậy để độ ưu tiên cao 
BS đang áp dụng position - check qua dev tool 
Tận dụng pos để center theo chiều dọc luôn
Thay vì set width kết hợp responsive phức tạp thì có thể tận dụng col của BS - 1 dạng built in respon sive
Chú ý là col phải ở trong div container
*/
#movieCarouselId .carousel-item .carousel-caption {
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: left;
}

/* 
:first-child - ưu tiên thứ tự trước -> loại thẻ
:first-of-type - ưu tiên loại trước -> thứ tự sau

https://animate.style/
Dùng css style để khỏi thay đổi cấu trúc html,
Duration mặc định là 1s nếu dùng class
Chú ý animation-fill-mode trong docs, nếu ko set sẽ nhìn sai

*/
#movieCarouselId .carousel-item .carousel-caption p:first-of-type {
  color: #fbbd61;
  letter-spacing: 2px;
  font-size: 0.875rem;

  margin: 0;

  animation: fadeInDown;
  animation-duration: 1s;

  animation-delay: 0.5s;
  animation-fill-mode: both;
}

#movieCarouselId .carousel-item .carousel-caption p:last-of-type {
  font-size: 1.125rem;
  margin-bottom: 20px;

  animation: fadeInUp;
  animation-duration: 1s;
}

#movieCarouselId .carousel-item .carousel-caption h2 {
  font-size: 3.25rem;
  letter-spacing: 3px;
  margin-bottom: 3px;

  animation: fadeInDown;
  animation-duration: 1s;
}

.movieCarousel__trailer {
  animation: fadeInUp;
  animation-duration: 1s;

  animation-delay: 0.5s;
  animation-fill-mode: both;
}

/* Gọi con trực tiếp > vì trên layout sẽ có phát sinh 1 số thẻ span bên trong trailer 
Kết hợp inline-block để vừa set được kích thước vừa ko chiếm hết 1 hàng
*/
.movieCarousel__trailer > span {
  display: inline-block;
  width: 48px;
  height: 48px;

  border-radius: 50%;
  border: 2px solid white;

  font-size: 0.8rem;
  text-align: center;
  line-height: 48px;

  margin-right: 8px;
}

/* THường viền mặc định của button khá xấu nên ít để hoặc đè màu vô 
Dùng opacity sẽ bị bóng mờ trước khi phủ
Overflow hidden thì đủ, ko cần thêm opacity nữa
*/
.movieCarousel__trailer button {
  padding: 12px 24px;

  border: none;
  border-radius: 30px;

  font-size: 0.8rem;
  letter-spacing: 4px;
  color: white;

  background: linear-gradient(to right, #fbbd61, #ec7532);

  position: relative;
  overflow: hidden;
  /* Viền xanh do class btn của BS thêm vào */
  outline: none;
}

.movieCarousel__trailer button:hover {
  color: white;
}

/* Những overlay thường tại qua before để tránh tạo thành phần html giả thừa 
Kết hợp nhiều transform phải viết chung, ko được tách ra 2 cái
opacity làm mờ chữ, ko dùng
*/
.movieCarousel__trailer button::before {
  content: "";
  display: block;
  width: 110%;
  height: 100%;

  background-color: #ec7532;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  /* Chưa hover */
  transform: skewX(30deg) translateX(-110%);
  transition: all 0.3s;
}

.movieCarousel__trailer button:hover:before {
  transform: skewX(30deg) translateX(-10px);
}

/* z-index chỉ dùng được khi đi với position */
/* Chữ đã ở đúng vị trí nên chỉ cần position relative rồi dùng với z-index 
Nên sử dụng z-index tăng dần để dễ kiểm soát tương tác giữa các ele set với các ele dc css do thư viện
*/
.movieCarousel__trailer button span {
  position: relative;
  z-index: 2;
}

/* NOTE edit carousel dot */

/* 
Canh vị trí dot carousel thẳng hàng với phần content ở trên
Phải lấy tool đo khoảng cách mới dễ thấy
*/

#movieCarouselId .carousel-indicators {
  justify-content: flex-start;
  /* 
  Set flex-start nhưng
  vị trí dot vẫn chưa thẳng hàng với circle PG ở trên
  Dùng tool đo sẽ thấy rõ, trước tiên reset các thông số do class BS thêm vào trước

  Sẽ áp dụng kỹ thuật của caption vào phần dot tương tự
  -> đưa vào trong classs container
  -> reset margin do carousel BS thêm
  15px containter caption
  15px col-9
  Tuy nhiên ko cần set phía right vì chỉ canh trái

  */

  margin-left: 0;
  padding-left: 30px;

  left: 50%;
  transform: translateX(-50%);

  bottom: 10%;
}

/*

BS 4.5 background color giữa content và border sẽ có 1 viền nhỏ - zoom lên sẽ thấy 
-> do background-clip định nghĩa vùng phủ của này
-> chỉ phủ từ vùng padding trở vô
Thay vì dùng background color thì solve bằng việc chỉ ghi background
-> sẽ tự solve vấn đề background-clip vì tính chất default hết các giá trị đi kèm background
hoặc set trực tiếp background-clip: border-box;

*/

#movieCarouselId .carousel-indicators li {
  box-sizing: border-box;
  width: 10px;
  height: 10px;

  border-radius: 50%;
  border: 2px solid white;

  /* background-color: transparent; */
  background: transparent;
  opacity: 1;
  /* Cách solve 2 */
  /* background-clip: border-box; */
}

/* set clip ở đây hơi thừa vì ele con theo cha */
#movieCarouselId .carousel-indicators li.active {
  background-color: white;
  background-clip: border-box;
}

/* TODO 
check thử vị trí đặt before bên dưới các div khác xem ntn 
Cách 2 là tạo 1 div overlay rỗng, trong carousel-item và bên dưới img với class movieCarousel__overlay, ko cần content và block
*/
.carousel-item::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  background: linear-gradient(to top, black, transparent);
}
